# ==========================================
# C++ Build Artifacts
# ==========================================
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
compile_commands.json

# Compiled Object files
*.o
*.obj

# Compiled Dynamic & Static libraries
*.so
*.dylib
*.dll
*.a
*.lib

# Executables
*.exe
*.out
*.app
PokerSolver

# ==========================================
# Python Artifacts
# ==========================================
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# ==========================================
# Engine Outputs
# ==========================================
*.csv
#*.png
*.json
*.jpg

# ==========================================
# IDEs & OS Files
# ==========================================
.vscode/
.idea/
cmake-build-*/
.DS_Store
Thumbs.db